*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Prompt;
}

#body {
	background-image: url(./images/pulag.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 500px;
  	height: auto;
  	width: 100%;
  	background-position: center;
}

#mop {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
}

#name {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
}

#fssd {
	background-color: rgba(84, 1, 1, 0.5);
	border-radius: 25px;
}

#pic1 {
	width:auto ;
	height: 40%;
	border-radius: 1000px;
	border: 5px solid;
}

#aboutMe {
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 25px;
	color: black;
}

#exercise {
	background-color: rgba(173, 21, 10, 0.5);
	border-radius: 25px;
	color: white;
}

#lnp {
	background-color: rgba(0, 106, 255, 0.5);
	border-radius: 25px;
	color: white;
}

#education {
	background-color: rgba(255, 213, 0, 0.5);
	border-radius: 25px;
	color: white;
}

#footballimg {
	max-width: auto;
	height: auto;
	border: 5px solid;
}

#lnpimg {
	max-width: auto;
	height: auto;
	border: 5px solid;
}

#educationimg {
	ax-width: auto;
	height: auto;
	border: 5px solid;
}

#projects {
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 25px;
	color: black;
}

#tools {
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 25px;
	color: black;
}

#cards {
	background-color: rgba(1, 16, 79, 0.5);
	border-radius: 25px;
	color: black;
	padding: 30px;
}

#card1 {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	color: white;
	width: 18rem;
}

#card2 {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	color: white;
	width: 18rem;
}

#card3 {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	color: white;
	width: 18rem;
}

#cardsab {
	background-color: rgba(209, 164, 0, 0.5);
	border-radius: 25px;
	color: black;
	padding: 30px;
}

#carda {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	color: white;
	width: 18rem;
}

#cardb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	color: white;
	width: 18rem;
}

#contact {
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 25px;
	color: black;
}

#contactsec {
	background-color: rgba(20, 110, 0, 0.5);
	border-radius: 25px;
	color: black;
	padding: 30px;
}

#submitbtn {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	border: 5px solid black;
	color: white;
}

#footer {
	background-color: black;
	color: white;
	height: auto;
}