*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	background-color: rgb(212,175,55);
}

.navlink:hover{
	background-color: navajowhite;
	border-radius: 50vh;
}

#accordion{
	background-color: rgb(212,175,55);
}

#registerButton{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	border: 4px solid gray;
	width: 5rem;
	height: 2rem;
}

#registerButton:hover{
	color: ghostwhite;
	background-color: rgba(167, 199, 231, 1.0);
	border: 4px solid blue;
	border-radius: 50vh;
}

#loginButton{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	border: 4px solid gray;
	width: 5rem;
	height: 2rem;
}

#loginButton:hover{
	color: ghostwhite;
	background-color: rgba(167, 199, 231, 1.0);
	border: 4px solid blue;
	border-radius: 50vh;
}

#createButton{
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	border: 4px solid gray;
	width: 6rem;
	height: 3rem;
	margin-bottom: 1em;
}

#createButton:hover{
	color: ghostwhite;
	background-color: rgba(167, 199, 231, 1.0);
	border: 4px solid blue;
	border-radius: 50vh;
}

#updateDescriptionButton{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	border-color: rgba(0, 0, 0, 0.3);
	width: 5rem;
	height: 2rem;
}

#updateDescriptionButton:hover{
	color: ghostwhite;
	background-color: rgba(26, 214, 60, 1.0);
	border: 4px solid greenyellow;
	border-radius: 50vh;
}

#updateStockButton{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	border-color: rgba(0, 0, 0, 0.3);
	width: 5rem;
	height: 2rem;
}

#updateStockButton:hover{
	color: ghostwhite;
	background-color: rgba(26, 214, 60, 1.0);
	border: 4px solid greenyellow;
	border-radius: 50vh;
}

#notFoundImage{
	width: 100vw;
}

#goToCreateProductButton{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: rgba(80,200,200, 0.3);
	border-color: rgba(80,200,200, 0.3);
	width: 9rem;
	height: 2rem;
}

#goToCreateProductButton:hover{
	color: black;
	background-color: rgba(80,200,200, 0.3);
	border: 4px solid darkturquoise;
	border-radius: 50vh;
}

#goToProductsButton{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: rgba(80,200,200, 0.3);
	border-color: rgba(80,200,200, 0.3);
	width: 9rem;
	height: 2rem;
}

#goToProductsButton:hover{
	color: black;
	background-color: rgba(80,200,200, 0.3);
	border: 4px solid darkturquoise;
	border-radius: 50vh;
}

#archiveProductButton{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	border-color: rgba(0, 0, 0, 0.3);
	width: 5rem;
	height: 2rem;
}

#archiveProductButton:hover{
	color: ghostwhite;
	background-color: rgba(232, 74, 63, 1.0);
	border: 4px solid darkred;
	border-radius: 50vh;
}

#unarchiveProductButton{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	border-color: rgba(0, 0, 0, 0.3);
	width: 6rem;
	height: 2rem;
}

#unarchiveProductButton:hover{
	color: ghostwhite;
	background-color: rgba(242, 24, 224, 1.0);
	border: 4px solid darkviolet;
	border-radius: 50vh;
}

#productDetailsButton{
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	border: 4px solid gray;
	width: 5rem;
	height: 2rem;
}

#productDetailsButton:hover{
	color: ghostwhite;
	background-color: rgba(167, 199, 231, 1.0);
	border: 4px solid blue;
	border-radius: 50vh;
}

#loginToOrderButton{
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	border: 4px solid gray;
	width: 9rem;
	height: 2rem;
}

#loginToOrderButton:hover{
	color: ghostwhite;
	background-color: rgba(167, 199, 231, 1.0);
	border: 4px solid blue;
	border-radius: 50vh;
}

.shoes{
	height: 15vh;
	width: auto;
	margin-bottom: 20px;
}

.shoesView{
	max-width: 60vh;
	height: auto;
	margin: auto;
}

#addButton{
	border: gray;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;;
}

#addButton:hover{
	color: ghostwhite;
	background-color: rgba(212,175,55, 1.0);
	border: 4px solid darkgoldenrod;
	border-radius: 10px;
}

#subtractButton{
	border: gray;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

#subtractButton:hover{
	color: ghostwhite;
	background-color: rgba(212,175,55, 1.0);
	border: 4px solid darkgoldenrod;
	border-radius: 10px;
}

#checkoutButton{
	border: gray;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

#checkoutButton:hover{
	color: ghostwhite;
	background-color: rgba(212,175,55, 1.0);
	border: 4px solid darkgoldenrod;
	border-radius: 10px;
}